body {
    background-color: #1E1E1E;
    border-radius: 0px;
    padding-left: 5%;
    padding-right: 5%;
    margin: auto;
}
header {   
     padding-top: 1%;
}
main {
    padding-top: 5%;
}
a {
    text-decoration: none;
}
.head-text{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}

.main-text {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 70px;
    line-height: 70px;
    margin: auto;
    color: #E2F063;
    margin: auto;
    display: block;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 1173px;
 
}
.btn-1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    margin-left: 30px;
    text-decoration: underline;
}

.btn-2 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #E2F063;
    margin-left: 30px;
}
.btns {
    display: flex;
    justify-content: space-between;
    margin: auto;
}